.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 51.2em 963.5em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.arrow-down:before {
      background-position: 0em 0em;
      width: 12.9em;
      height: 12.9em;
  }




  .icon.arrow-left:before {
      background-position: 0em -12.9em;
      width: 47.7175em;
      height: 47.7175em;
  }




  .icon.arrow-left--color:before {
      background-position: 0em -60.7em;
      width: 5.2em;
      height: 5.2em;
  }




  .icon.arrow-right:before {
      background-position: 0em -65.9em;
      width: 47.7175em;
      height: 47.7175em;
  }




  .icon.arrow-right--color:before {
      background-position: 0em -113.7em;
      width: 5.2em;
      height: 5.2em;
  }




  .icon.arrow-up:before {
      background-position: 0em -118.9em;
      width: 6.4em;
      height: 6.4em;
  }




  .icon.cancel:before {
      background-position: 0em -125.3em;
      width: 47.519999999999996em;
      height: 47.519999999999996em;
  }




  .icon.checked:before {
      background-position: 0em -172.9em;
      width: 2.6em;
      height: 2.6em;
  }




  .icon.garbage:before {
      background-position: 0em -175.5em;
      width: 5.9em;
      height: 5.9em;
  }




  .icon.heart:before {
      background-position: 0em -181.4em;
      width: 47.170100000000005em;
      height: 47.170100000000005em;
  }




  .icon.house:before {
      background-position: 0em -228.6em;
      width: 48.619600000000005em;
      height: 48.619600000000005em;
  }




  .icon.interface:before {
      background-position: 0em -277.3em;
      width: 49.04em;
      height: 49.04em;
  }




  .icon.like:before {
      background-position: 0em -326.4em;
      width: 49.019999999999996em;
      height: 49.019999999999996em;
  }




  .icon.magnifying-glass:before {
      background-position: 0em -375.5em;
      width: 45.1em;
      height: 45.1em;
  }




  .icon.mail:before {
      background-position: 0em -420.6em;
      width: 48.33em;
      height: 48.33em;
  }




  .icon.menu:before {
      background-position: 0em -469em;
      width: 45.9em;
      height: 45.9em;
  }




  .icon.phone-call:before {
      background-position: 0em -514.9em;
      width: 47.3806em;
      height: 47.3806em;
  }




  .icon.placeholder:before {
      background-position: 0em -562.3em;
      width: 47.7em;
      height: 47.7em;
  }




  .icon.share:before {
      background-position: 0em -610em;
      width: 48.160000000000004em;
      height: 48.160000000000004em;
  }




  .icon.soc-facebook:before {
      background-position: 0em -658.2em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-google:before {
      background-position: 0em -709.4em;
      width: 9.6669em;
      height: 9.6669em;
  }




  .icon.soc-in:before {
      background-position: 0em -719.1em;
      width: 43.011700000000005em;
      height: 43.011700000000005em;
  }




  .icon.soc-instagram:before {
      background-position: 0em -762.2em;
      width: 43.8536em;
      height: 43.8536em;
  }




  .icon.soc-ok:before {
      background-position: 0em -806.1em;
      width: 9.5481em;
      height: 9.5481em;
  }




  .icon.soc-twitter:before {
      background-position: 0em -815.7em;
      width: 41.015499999999996em;
      height: 41.015499999999996em;
  }




  .icon.soc-vk:before {
      background-position: 0em -856.8em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-youtube:before {
      background-position: 0em -908em;
      width: 6.4em;
      height: 6.4em;
  }




  .icon.star:before {
      background-position: 0em -914.4em;
      width: 49.0727em;
      height: 49.0727em;
  }





