mixin header()
	//block header
	.main-section(style="background-image:url('img/baner-main.jpg')")
		.main-section-filter
		.header
			.header-layer
				.main-cont
					.header-wrap
						a(href="/").header-logo
							.header-logo--red open
							.header-logo--blue service
						.header-navs
								.header-nav__el
									.header-nav__el-link-wrap
										a(href="#event" ).header-nav__el-link.scroll-link Мероприятие
								.header-nav__el
									.header-nav__el-link-wrap
										a(href="#program" ).header-nav__el-link.scroll-link Программа
								.header-nav__el
									.header-nav__el-link-wrap
										a(href="#teacher" ).header-nav__el-link.scroll-link Ведущие
								.header-nav__el
									.header-nav__el-link-wrap
										a(href="#order" ).header-nav__el-link.scroll-link Запись
						.menu-toggle
							+icon("menu","icon-el")
		.main-section-cont
			.main-cont
				.main-section-wrap
					.header-date
						.header-date-num 6
						.header-date-text октября
					.header-slogan
						.header-title Встреча <br> 	профессиональных рестораторов
						.header-text В неформальной обстановке и дружественной атмосфере ресторана «Променад»
	//block header end