.main-section-filter
	position: absolute
	top: 0
	left: 0
	background: rgba(10, 16, 25, 0.71)
	width: 100%
	height: 100%

.header-logo
	up()
	f()
	font-size: 24px
	color white
	text-align: left
	width: 200px
	+below(1024px)
		width: auto

.header-phone
	up()
	font-size: 20px
	a
		color white

.main-section
	width: 100%
	height: 100vh
	background: rgba(0, 0, 0, 0.61)
	position: relative
	flex(mid)
	background-attachment fixed
	background-repeat: no-repeat
	bg-full()
	min-height 500px



.main-section-title
	up()
	color white
	font-size: 5vw

.header
	+below(768px)
		padding: 15px 0
	position: absolute
	top 0
	left: 0
	width: 100%
	z-index 50
	padding: 45px 0

.header-wrap
	flex(between)

.header-nav__el-link-wrap
	+below(768px)
		border-bottom:1px solid rgba(236, 236, 236, 0.09)
	flex(between)

.menu-toggle
	+above(769px)
		display: none
	.icon-el
		cp()
		size 20px
		fill white

.header-nav__el
	+below(768px)
		width: 100%
		text-align: center
		background: #30343e
	position: relative
	up()

.header-nav__el-link
	+below(1024px)
		width: 100%
		flex(between)
		padding: 20px 10px
	&:hover
		color darken(white,20)
	display: inline-block
	color white



.header-navs
	+below(768px)
		position: absolute
		top: 120%
		width: 100%
		left: 0
		fw()
		display: none
	+above(769px)
		display: flex !important
	width: 475px
	justify-content:space-between
	a
		color white
		up()


.header-logo--red
	color #d3363b

.header-logo--blue
	color #50b6e8

.main-section-wrap
	+below(768px)
		fw()
		flex(mid)
		fl()
	position: relative
	f()

.header-date
	+below(768px)
		margin-right: 0
		size 300px
		margin-bottom: 20px
	+below(640px)
		size 150px
	flex(mid)
	fl()
	bgi('border-date.png')
	bg-full()
	background-size: contain
	width: 300px
	height: 350px
	margin-right: 10%

.header-date-num
	+below(768px)
		font-size: 100px
	+below(640px)
		font-size: 60px
	color #df6976
	font-size 190px
	line-height: 1

.header-date-text
	+below(768px)
		font-size:20px
	color #df6976
	font-size: 30px

.header-slogan
	+below(768px)
		width: 100%
	margin-top: 20px
	max-width 510px

.header-title
	+below(768px)
		font-size: 24px
		margin-bottom: 10px
		text-align: center
	color white
	font-size 52px
	font-weight 500
	margin-bottom: 40px

.header-text
	+below(768px)
		font-size: 12px
		text-align: center
	color white
	line-height: 1.4